<div class="panel panel-primary">
    <div class="panel-heading">
        {{ pageTitle }}
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Filter by: </div>
            <div class="col-md-4">
                <input type="text"
                       [(ngModel)]="listFilter">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Filtered by: {{ listFilter }}</h3>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table"
                   *ngIf="products && products.length">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary"
                                    (click)="toggleImage()">
                                <!-- If showImage is true, display Hide Image but if false, display Show Image. -->
                                {{ showImage ? "Hide" : "Show" }} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Release Date</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- We use our productFilter custom pipe, which we registered as a dependency within app module -->
                    <tr *ngFor="let product of products | productFilter : listFilter">
                        <td>
                            <img *ngIf="showImage"
                                 [src]="product.imageUrl"
                                 [title]="product.productName"
                                 [style.width.px]="imageWidth"
                                 [style.margin.px]="imageMargin">
                        </td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productCode | lowercase }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <!--
                            For price, we want USD, we want the dollar symbol displayed and we want
                            at least 1 digit left of decimal with 2 digits right of decimal but no
                            more than 2 digits right of decimal.
                        -->
                        <td>{{ product.price | currency:"USD":true:"1.2-2" }}</td>
                        <td>
                            <ai-star></ai-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>