<div>

    <p>{{user.name}}</p>
    <p>{{user.login}}</p>
    <p>{{user.blog}}</p>
    <img ng-src="{{user.avatar_url}}" title="{{user.name}}">

    <div>
        Options:
        <select ng-model="repoSortOrder">
                <option value="-name">Name desc</option>
                <option value="-stargazers_count">Stars desc</option>
                <option value="+language">Language asc</option>
            </select>
    </div>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Stars</th>
                <th>Language</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
                <td>{{repo.name}}</td>
                <td>{{repo.stargazers_count | number}}</td>
                <td>{{repo.language}}</td>
            </tr>
        </tbody>
    </table>

</div>